<div id="home">
    <div class="container">
        <section class="home-tendance">
            <div class="title-home">
                <h2>TENDANCE</h2>
            </div>
            <div class="swiper">
                <div class="list-tendance">
                    <div class="bloc-tendance">
                        <a href="" class="stretched-link">
                            <img src="assets/img/produit/Organic raspberry marshmallow.jpg" alt="Guimove à la frambroise bio">
                        </a>
                    </div>
                    <div class="bloc-tendance">
                        <a href="" class="stretched-link">
                            <img src="assets/img/produit/Organic raspberry marshmallow.jpg" alt="Guimove à la frambroise bio">
                        </a>
                    </div>
                    <div class="bloc-tendance">
                        <a href="" class="stretched-link">
                            <img src="assets/img/produit/Organic raspberry marshmallow.jpg" alt="Guimove à la frambroise bio">
                        </a>
                    </div>
                    <div class="bloc-tendance">
                        <a href="" class="stretched-link">
                            <img src="assets/img/produit/Organic raspberry marshmallow.jpg" alt="Guimove à la frambroise bio">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-discover">
            <div class="title-home">
                <h2>A DECOUVRIR</h2>
            </div>
            <div class="swiper">
                <div class="list-discover">
                    <div class="bloc-discover">
                        <a href="" class="stretched-link">
                            <img src="assets/img/produit/Organic raspberry marshmallow.jpg" alt="Guimove à la frambroise bio">
                        </a>
                    </div>
                    <div class="bloc-discover">
                        <a href="" class="stretched-link">
                            <img src="assets/img/produit/Organic raspberry marshmallow.jpg" alt="Guimove à la frambroise bio">
                        </a>
                    </div>
                    <div class="bloc-discover">
                        <a href="" class="stretched-link">
                            <img src="assets/img/produit/Organic raspberry marshmallow.jpg" alt="Guimove à la frambroise bio">
                        </a>
                    </div>
                    <div class="bloc-discover">
                        <a href="" class="stretched-link">
                            <img src="assets/img/produit/Organic raspberry marshmallow.jpg" alt="Guimove à la frambroise bio">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>