<div id="home">
    <div class="container">
        <section class="home-tendance">
            <div class="title-home">
                <h2>TENDANCE</h2>
            </div>
            <div class="swiper">
                <div class="list-tendance">
                    <div class="bloc-tendance">
                        <a href="" class="stretched-link">
                            <span>Guimauve à la framboise</span>
                            <img loading="lazy" src="http://localhost:3026/images/guimauve-framboise.jpg" alt="Guimauve à la framboise">
                        </a>
                    </div>
                    <div class="bloc-tendance">
                        <a href="" class="stretched-link">
                            <span>Bonbons acidulés aux fruits</span>
                            <img loading="lazy" src="http://localhost:3026/images/bonbons-acidules.jpg" alt="Bonbons acidulés aux fruits">
                        </a>
                    </div>
                    <div class="bloc-tendance">
                        <a href="" class="stretched-link">
                            <span>Tablette de chocolat noir 70%</span>
                            <img loading="lazy" src="http://localhost:3026/images/chocolat-noir.jpg" alt="Tablette de chocolat noir 70%">
                        </a>
                    </div>
                    <div class="bloc-tendance">
                        <a href="" class="stretched-link">
                            <span>Guimauve au chocolat</span>
                            <img loading="lazy" src="http://localhost:3026/images/guimauve-chocolat.jpg" alt="Guimauve au chocolat">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-discover">
            <div class="title-home">
                <h2>A DECOUVRIR</h2>
            </div>
            <div class="swiper">
                <div class="list-discover">
                    <div class="bloc-discover">
                        <a href="" class="stretched-link">
                            <span>Chocolat à la noix de coco</span>
                            <img loading="lazy" src="http://localhost:3026/images/chocolat-blanc-noix-de-coco.jpg" alt="Chocolat blanc à la noix de coco">
                        </a>
                    </div>
                    <div class="bloc-discover">
                        <a href="" class="stretched-link">
                            <span>Bonbons pétillants à la cerise</span>
                            <img loading="lazy" src="http://localhost:3026/images/bonbons-petillants.jpg" alt="Bonbons pétillants à la cerise">
                        </a>
                    </div>
                    <div class="bloc-discover">
                        <a href="" class="stretched-link">
                            <span>Guimauve au caramel salé</span>
                            <img loading="lazy" src="http://localhost:3026/images/guimauve-caramel.jpg" alt="Guimauve au caramel salé">
                        </a>
                    </div>
                    <div class="bloc-discover">
                        <a href="" class="stretched-link">
                            <span>Bonbons à la réglisse douce</span>
                            <img loading="lazy" src="http://localhost:3026/images/bonbons-reglisse.jpg" alt="Bonbons à la réglisse douce">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>