<section class="cart-page">
    <div class="container">
        <div id="cart-content">
            <h2>Votre panier : {{ cartData.title }}</h2>
            <div class="cart-content">
                <div class="cart-content-left">
                    <div class="cart-product-list">
                        <div class="dsp-table cart-head">
                            <div class="dsp-cell designation">DESIGNATION</div>
                            <div class="dsp-cell prix">PRIX</div>
                            <div class="dsp-cell quantite">QUANTITE</div>
                            <div class="dsp-cell remove">Supprimer</div>
                        </div>
                        <div class="separator"></div>
                        <div class="item dsp-table" *ngFor="let article of cartData.articlesList, let i = index">
                            <div class="dsp-cell designation">
                                <div class="pic">
                                    <img src="" alt="">
                                </div>
                                <div class="txt">
                                    <div class="title">{{article.name}}</div>
                                    <div class="stocks">En stock</div>
                                </div>
                            </div>
                            <div class="dsp-cell prix">
                                <span class="price-prod">
                                    {{cartData.listArticlePrice[i]}}
                                </span>
                            </div>
                            <div class="dsp-cell quantite">
                                <select [(ngModel)]="article.quantity" name="quantity" (change)="submitForm()">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <!-- Ajoutez d'autres options selon vos besoins -->
                                </select>
                            </div>
                            <div class="dsp-cell remove">
                                <a (click)="supprimerArticleDuPanier(article._id)">
                                    <img src="assets/img/icone_remove.png" alt="">
                                </a>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            
                <div class="cart-content-right">
                    <div id="order">
                        <div class="title-order">Prix Total</div>
                        <div class="price-tot">
                            {{cartData.totalPrice}}
                        </div>
                        <div class="order-button">
                            <a (click)="redirect_payment()">
                                <div id="process" class="passer-commande-button">
                                    Passer Commande
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
